body{
    margin: 0;
}
.navbar{
    display: flex;
    justify-content: right;
    padding: 20px 5px;
    background:rgb(218, 72, 72);
}
.contents{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 250px 20px;
}
.contents.top{
    padding-top: 100px;
}
.title{
    font: 60px bold;
    display: flex;
    gap: 8px;
}
.title.top{
    padding: 20px 40px 0px 40px;
}
.buttons{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 20px;
}
button{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
    border-radius: 6px;
    border: none;
  
    color: #fff;
    background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
    background-origin: border-box;
    box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
@keyframes wheelHueColor {
    from, to { color: rgb(238, 44, 44); }
    10%      { color: rgb(241, 86, 14); }
    20%      { color: rgb(201, 159, 21); }
    30%      { color: rgb(236, 225, 72); }
    40%      { color: rgb(118, 247, 33); }
    50%      { color: rgb(73, 211, 9); }
    60%      { color: rgb(10, 184, 97); }
    70%      { color: rgb(23, 185, 177); }
    80%      { color: rgb(7, 93, 192); }
    90%      { color: rgb(219, 38, 243); }
}
.tracker {
    color: rgb(236,100,75);
    animation: wheelHueColor 20s infinite;
    text-align: center;
}
#donate-btn{
    background: white;
    color: #367AF6;
}
a{
    text-decoration: none;
}
div.hr {
    background: black  no-repeat scroll center;
    margin-left: 20px;
    width:50em;
    height:2px;
}
    
div.hr hr {
    display: none;
}
form{
    padding: 50px 0px;
    display: flex;
    gap: 10px;
}
.labels, .inputs{
    display: flex;
    flex-direction: column;
    gap: 15px;
}